<div class="container  mt-5">
    <!-- {{createAccount}} -->
    <form [formGroup]="createAccount">
        <div class="card w-50 p-5 m-auto">
            <div class="alert alert-success" *ngIf="sharedService.message">
                {{sharedService.message}}
            </div>
            <h3 class="mx-3 text-center">Create Account</h3>
            <div class="card-body ">
                <div class="">
                    <div class="form-group">
                        <input type="text" name="username" id="username" placeholder="username" class="form-control"
                            formControlName="username">
                        <!-- <div *ngIf="createAccount.controls['username'].invalid  && createAccount.controls['username'].touched">
                            <div *ngIf="createAccount.controls['username'].errors?.['required']" class="text-danger fs-14">
                                  {{getValidations.USERNAME_REQUIRED}}
                            </div>
                        </div>                      -->
                        <div *ngIf="invalidFeild(getValidations.USERNAME_FEILD)">
                            <div *ngIf="feildError(getValidations.USERNAME_FEILD,getValidations.REQUIRED)" class="text-danger fs-14">
                                {{getValidations.USERNAME_REQUIRED}}
                            </div>
                            <div *ngIf="feildError(getValidations.USERNAME_FEILD,getValidations.PATTERN)" class="text-danger fs-14">
                                {{getValidations.ONLY_ALPHABETS}}
                            </div>
                            <div *ngIf="feildError('username','maxlength')" class="text-danger fs-14">
                               {{getValidations.MAX_LENGTH}}
                            </div>
                        </div>
                    </div>
                    <div class="form-group mt-2">
                        <input type="email" name="email" id="email" placeholder="email" class="form-control"
                            formControlName="email">
                        <!-- <div *ngIf="createAccount.controls['email'].invalid  && createAccount.controls['email'].touched">
                            <div *ngIf="createAccount.controls['email'].errors?.['required']" class="text-danger fs-14">
                                  {{getValidations.EMAIL_REQUIRED}}
                            </div>
                        </div>  -->
                        <div *ngIf="invalidFeild('email')">
                            <div *ngIf="feildError('email',getValidations.REQUIRED)" class="text-danger fs-14">
                                {{getValidations.EMAIL_REQUIRED}}
                            </div>
                        </div>

                    </div>
                    <div class="form-group mt-2">
                        <input type="password" name="password" id="password" placeholder="password" class="form-control"
                            formControlName="password">
                        <!-- <div *ngIf="createAccount.controls['password'].invalid  && createAccount.controls['password'].touched">
                            <div *ngIf="createAccount.controls['password'].errors?.['required']" class="text-danger fs-14">
                                  {{getValidations.PASSWORD_REQUIRED}}
                            </div>
                        </div>  -->
                        <div *ngIf="invalidFeild('password')">
                            <div *ngIf="feildError('password',getValidations.REQUIRED)" class="text-danger fs-14">
                                {{getValidations.PASSWORD_REQUIRED}}
                            </div>
                        </div>
                    </div>
                    <div class="form-group mt-2">
                        <input type="number" name="mobileNumber" id="mobileNumber" placeholder="mobileNumber"
                            class="form-control" formControlName="mobileNumber">
                        <!-- <div *ngIf="createAccount.controls['mobileNumber'].invalid  && createAccount.controls['mobileNumber'].touched">
                            <div *ngIf="createAccount.controls['mobileNumber'].errors?.['required']" class="text-danger fs-14">
                                  {{getValidations.MOBILE_NUMBER_REQUIRED}}
                            </div>
                        </div>  -->
                        <div *ngIf="invalidFeild('mobileNumber')">
                            <div *ngIf="feildError('mobileNumber',getValidations.REQUIRED)" class="text-danger fs-14">
                                {{getValidations.MOBILE_NUMBER_REQUIRED}}
                            </div>
                        </div>
                    </div>
                    <div class="form-group mt-2">
                        <button type="submit" class="btn btn-primary w-100" [disabled]="createAccount.invalid"
                            (click)="saveAccount()">Create Account</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>