<!-- {{profileForm.value | json}} -->

<form [formGroup]="profileForm">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://images.unsplash.com/photo-1633332755192-727a05c4013d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8dXNlcnxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60" alt="Card image cap">
        <div class="card-body">
          <div class="d-flex justify-content-between">
              <div>
                  <h5 class="card-title text-uppercase">{{userDetails?.username}}  </h5>
              </div>
              <div>
                <i class="fa-solid fa-pen-to-square" (click)="enableInputs()"></i>
              </div>
          </div>
          <p class="card-text">
            <span>Email: <span *ngIf="!hideInputs">{{userDetails?.email}}</span></span> 
            <span *ngIf="hideInputs"> <input type="text" name="email" id="email" formControlName="email" class="form-control"> </span><br>
            <span>Mobile Number: <span *ngIf="!hideInputs">{{userDetails?.mobileNumber}}</span> </span>
            <span *ngIf="hideInputs"><input type="number" name="mobileNumber" id="mobileNumber" formControlName="mobileNumber" class="form-control"></span>
          </p>
          <button  class="btn btn-primary" (click)="updateProfile()">Update Profile</button>
        </div>
      </div>
</form>